.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* Styles for top container */
.fullscreen-container {
    background-color: #3f51b5;
    padding-top: 100px;
}

.fullscreen-container .slogan {
    opacity: 0.64;
    font-weight: 300;
    letter-spacing: -0.13rem;
    font-size: 3.21rem;
    line-height: 3.44rem;
    margin: 1.72rem 0 1.72rem 0;
    color: white;
}

.fullscreen-container h6 {
    opacity: 0.87;
    font-weight: 500;
    letter-spacing: 0.02rem;
    font-size: 1rem;
    line-height: 1.72rem;
    margin: 0;
    color: white;
}

.fullscreen-container .mockups {
    margin-top: 60px;
    margin-bottom: -6px;
}

.fullscreen-container .mockups .responsive-mockups_3 {
    position: absolute;
    max-width: 100%;
}

.fullscreen-container .mockups .responsive-mockups_2 {
    position: absolute;
    max-width: 100%;
}

.fullscreen-container .mockups .responsive-mockups_1 {
    position: relative;
    max-width: 100%;
}

/* Styles for icons container */
.icon-section .icon-block {
    padding-top: 40px;
    padding-bottom: 40px;
}

.icon-section .icon-block h2 {
    color: rgba(0,0,0,0.5);
}

.icon-section .icon-block p {
    font-size: 17px;
    opacity: 0.64;
    font-weight: 300;
    text-align: center;
}

/* Styles for Github Gist Container */
.github-gist-container {
    background-color: #E8E8E8;
}

.github-gist-container .text-info {
    padding: 50px 20px;
}

.github-gist-container .text-info h3 {
    opacity: 0.64;
    font-weight: 400;
    letter-spacing: -0.10rem;
    font-size: 2.42rem;
    line-height: 2.86rem;
    margin: 1.72rem 0px 1.14rem 0px;
}

.github-gist-container .text-info p {
    opacity: 0.64;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.02rem;
    line-height: 1.72rem;
    margin: 0px 0px 1.72rem 0px;
}